@model CoffeeMachine.Models.VendingMachineDataSingleton

@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-brand">
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
            <a>Кошелек VM</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var vmCoin in Model.VendingMachinePurse.Coins)
                {
                    <li>
                        <a class="btn btn-link">@vmCoin.Number руб (<span class="money-button-@vmCoin.Number">@vmCoin.Count</span> шт.) </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<p>
    Внесенная сумма:
    <span class="vending-machine-money">@Model.VendingMachineMoney</span> руб.
    <button class="btn btn-default btn-residue">Сдача</button>
</p>

<h2>Товар</h2>

@foreach (var product in Model.Products)
{

    <div>
        <h3>@product.Title</h3>
        <span class="product-price">@product.Price</span> руб.
        <span class="product-count">@product.Count</span> порций
        <button class="btn btn-default btn-buy" id="@product.Id">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            Купить
        </button>
    </div>
    <hr />
}

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header navbar-brand">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <a>Кошелек</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var userCoin in Model.UserPurse.Coins)
                {
                    <li>
                        <a class="btn btn-link bnt-user-money-button-@userCoin.Number">@userCoin.Number руб (<span class="user-money-button-@userCoin.Number">@userCoin.Count</span> шт.) </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>