@model CoffeeMachine.Models.VendingMachine

@{
    ViewBag.Title = "Home Page";
}

<h2>Товар</h2>

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.Title</h3>
        <span>@product.Price руб. @product.Count порций</span>
    </div>
    <hr />
}

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header navbar-brand">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <a>Кошелек</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var userCoin in Model.UserCoins)
                {
                    <li><a class="btn btn-link">@userCoin.Number руб (@userCoin.Count шт.) </a></li>
                }
            </ul>
        </div>
    </div>
</div>